html,
body {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav,
section,
div,
header,
article,
aside,
main {
  box-sizing: border-box;
}
nav {
  height: 70px;
  width: 100%;
  background: #eee;
}
.nav-box {
  width: 1280px;
  max-width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 30px;
  font-weight: 900;
}
.search-bar {
  height: 30px;
  width: 500px;
  max-width: 50%;
  background: #ccc;
}
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}
.button {
  height: 30px;
  width: 90px;
  background: #555;
}
.burger-menu {
  display: none;
  width: 30px;
  height: 30px;
  background: #ccc;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.subtitle {
  width: 350px;
  max-width: 80%;
  height: 30px;
  background: #ccc;
}
.title {
  max-width: 90%;
  width: 600px;
  height: 50px;
  background: #aaa;
}

main section {
  display: flex;
  width: 90%;
  min-height: 200px;
  margin-top: 20px;
  border-radius: 50px;
  background: #eee;
  overflow: hidden;
}
article {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 50px;
}
.card {
  flex: 1;
  min-width: 40%;
}
.description {
  width: 100%;
  height: 150px;
  background: #ccc;
}
.card-button {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background: #999;
}

aside {
  width: 50%;
  background: #ccc;
}

@media screen and (max-width: 1280px) {
  .search-bar {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  article {
    width: 100%;
  }
  aside {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .card {
    min-width: 100%;
  }
}
