html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
}
html,
body,
div,
section,
aside,
nav,
main {
  box-sizing: border-box;
}
body {
  display: flex;
}
aside {
  height: 100vh;
  width: 250px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #aaa;
  padding: 20px;
}
.logo {
  font-size: 30px;
  font-weight: 900;
}
.burger-menu {
  display: none;
  height: 30px;
  width: 30px;
  background: #777;
}
aside section {
  width: 100%;
  max-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu {
  width: 100%;
  background: #ccc;
  height: 200px;
  max-height: 25%;
}
.main-page {
  flex: 1;
  min-height: fit-content;
}
nav {
  width: 100%;
  height: 70px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  background: #ccc;
  position: sticky;
  top: 0;
}
nav > .logo {
  display: none;
}
.search {
  height: 30px;
  width: 60%;
  margin-left: 10%;
  display: flex;
  background: #aaa;
}
.search-bar {
  flex: 1;
}
.search-button {
  width: 100px;
  height: 100%;
  background: #777;
}
.user {
  height: 40px;
  width: 40px;
  background: #333;
  margin-left: auto;
  border-radius: 50%;
}
main {
  width: 100%;
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}
.card {
  height: 15vw;
  width: calc((100% - 30px) / 4);
  background: #ccc;
}
.image {
  width: 100%;
  height: 75%;
}
.description {
  width: 100%;
  height: 25%;
  background: #777;
}

@media screen and (max-width: 1280px) {
  aside {
    width: 70px;
  }
  aside .logo {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .menu {
    height: 30px;
  }
  nav .logo {
    display: block;
  }
  .card {
    height: 20vw;
    width: calc((100% - 20px) / 3);
  }
}

@media screen and (max-width: 900px) {
  .search {
    margin-left: 5%;
  }
  .card {
    height: 30vw;
    width: calc((100% - 10px) / 2);
  }
}
@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
    position: relative;
  }
  .side-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  aside {
    position: sticky;
    top: calc(100% - 70px);
    margin-top: calc(100% - 70px);
    width: 100%;
    height: 70px;
    flex-direction: row;
    padding: 0 20px;
  }
  .burger-menu {
    height: 40px;
    width: 40px;
  }
  aside section {
    flex: 1;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    height: 40px;
    width: 40px;
  }
  .search {
    display: none;
  }
  .card {
    height: 50vw;
    width: 100%;
  }
  main {
    margin-bottom: 70px;
  }
}
