html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100%;
  background: #fff;
}

html,
body,
div,
section,
nav,
footer,
aside,
header,
main {
  box-sizing: border-box;
}

.foot-bar {
  display: none;
}

nav {
  width: 100%;
  height: 70px;
  background: #ccc;
  display: flex;
  padding: 0 20px;
  align-items: center;
  gap: 20px;
}

.burger-menu {
  background: #333;
  width: 40px;
  height: 40px;
  display: none;
}

.logo {
  font-weight: 900;
  font-size: 25px;
}
.box {
  height: 20px;
  width: 100px;
  background: #aaa;
}
.searchbar {
  height: 40px;
  flex: 1;
  background: #999;
}
.icon {
  height: 20px;
  width: 20px;
  transform: rotateZ(45deg);
  background-color: #333;
}
.user {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #333;
}
.side-bar {
  max-width: 100%;
  height: 0;
  width: 1080px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  margin: 0 auto;
}
aside {
  position: relative;
  top: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background: #ccc;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  margin-left: auto;
}
.image {
  width: 280px;
  height: 200px;
  background: #555;
}
.button {
  height: 50px;
  width: 200px;
  background: #333;
}
.explanation {
  width: 280px;
  height: 400px;
  background: #aaa;
}

header {
  background: #eee;
}
header .image {
  display: none;
}
section {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 340px 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.subtitle {
  height: 25px;
  width: 60%;
  background: #ccc;
}
.title {
  height: 150px;
  width: 100%;
  background: #aaa;
}
.description {
  height: 100px;
  width: 80%;
  background: #ccc;
}
.content {
  width: 100%;
  background: #eee;
}
.content > header {
  width: 100%;
  background: #ddd;
  padding: 15px 20px;
}
.content-name {
  max-width: 100%;
  height: 25px;
  width: 300px;
  background: #ccc;
}
.content footer {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contain {
  height: 25px;
  width: 100%;
  background: #ddd;
}

@media screen and (max-width: 700px) {
  nav {
    justify-content: space-between;
  }
  .burger-menu {
    display: block;
  }
  .searchbar,
  .box,
  .icon {
    display: none;
  }
  section {
    padding: 50px 20px;
    max-width: 100%;
  }

  header .image {
    display: block;
    width: 100%;
    height: 55vw;
  }
  .side-bar {
    display: none;
  }
  .foot-bar {
    display: block;
    position: sticky;
    height: 0;
    top: calc(100% - 70px);
  }
  .foot-bar footer {
    padding: 0 20px;
    height: 70px;
    background: #ccc;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  footer .explanation {
    height: 50px;
    flex: 2;
  }
  footer .button {
    flex: 1;
  }
}
